<%- include('./partials/header') %>

<button id="myButton" class="submit-button" >Home</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/download";
    };
</script>

<%- include('./partials/footer') %>