<%- include('./partials/header') %>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<section id="header" class="jumbotron">
		<h1 id="heading" class="display-4 heading">YouTube Video Downloader</h1>
		<p class="lead"><b>Now you can download YouTube videos and save them easily!!!</b></p>
	</section>

	<div class="container">

		<div class=" mb-3">
  			<input type="text" class="form-control URL-input" placeholder="URL / Link Address of any YouTube video">
			<!-- <select class='opt'>
				<option value='mp3'>mp3</option>
				<option value='mp4'>mp4</option>
			</select> -->
  			<div class="dld-btn">
    			<button class="btn btn-outline-success button"><strong>Download</strong></button>
  			</div>
		</div>
	</div>

	<div class="jumbotron text-center hoverable p-4 jumbo1">

		<!-- Grid row -->
		<div class="row">
			<!-- Grid column -->
		  <div class="col-md-4 offset-md-1 mx-3 my-3">
			  <!-- Featured image -->
			<div class="view overlay">
				<img src="https://cdn.searchenginejournal.com/wp-content/uploads/2020/04/990aef91-8155-41f2-a8cb-ea8e10090992-5e9a0fd49d545-1520x800.jpeg">
			  <a>
				<div class="mask rgba-white-slight"></div>
			  </a>
			</div>
	  
		  </div>
		  <!-- Grid column -->
		  <!-- Grid column -->
		  <div class="col-md-7 text-md-left ml-3 mt-3">
	  
			<h4 class="h4 mb-4">Download high quality videos and audios from YouTube</h4>
	  
			<p class="font-weight-normal">Step 1: Copy link adress of any video you want to download from YouTube</p>
			<p class="font-weight-normal">Step 2: Pate the copied url in the box given</p>
			<!-- <p class="font-weight-normal">Step 3: Choose the format mp3 or mp4 whichever you want</p> -->
			<p class="font-weight-normal">Step 3: Click on the Download button </p>
			<p class="font-weight-normal">The video has been downloaded in your device.</p>
			<p class="font-weight-normal"><strong>Enjoy Watching...!!!</strong></p>

		  </div>
		  <!-- Grid column -->
		</div>
		<!-- Grid row -->
	  </div>
	  <!-- News jumbotron -->

	<script src="/js/script.js"></script>

<%- include('./partials/footer') %>
    

